<body class="d-flex h-100 text-center text-bg-dark" data-new-gr-c-s-check-loaded="14.1085.0" data-gr-ext-installed="">

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


		<main class="px-3">
			<h1>Contact page</h1>
			<p class="lead">The programmer of this application is Ádám Porkoláb.<br> You can contact him by his webpage: <a
					href="https://www.pklab.hu">https://www.pklab.hu</a></p>
			<p class="lead">
				The GitHub page of the author: <a href="https://github.com/APorkolab/">https://github.com/APorkolab/</a></p>
		</main>

		<footer class="mt-auto text-white-50">
			<p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
					href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
		</footer>
	</div>





</body>