<div class="container">
  <h1 class="mb-5">Rules of the matching game</h1>
  <div>
    <h3>
      "Matching games are games that require players to match similar elements. <br />
      Participants need to find a match for a word, picture, or card. For example, students place 30 word cards; <br />
      composed of 15 pairs, face down in random order.
      <br />Each person turns over two cards at a time, with the goal of turning over a matching pair, by using their
      memory."
    </h3>
  </div>
  <h2 class="mt-3">Source: <i class="fa fa-wikipedia-w" aria-hidden="true"> Wikipedia</i></h2>
</div>
