<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
  <img src="../assets/images/splendex-logo.svg" alt="Splendex logo" width="200">
  <a href="/" class="navbar-brand d-flex w-50 mr-auto"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <label for="deck-select">Deck size:</label>
          <select name="deckSize" id="deck-select">
            <option value="">20</option>
            <option value="20">20</option>
            <option value="18">18</option>
            <option value="16">16</option>
            <option value="14">14</option>
            <option value="12">12</option>
            <option value="10">10</option>
          </select>
        </a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-danger" (click)="restartGame()">START NEW GAME</button>
      </li>

    </ul>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </div>
</nav>


<h1 class="mainTitle mt-5" *ngIf="!IsItStarted">Splendex Memory Game</h1>

<ul class="nav justify-content-center" *ngIf="IsItStarted">

  <li class="nav-item">
    <div>Current tries:{{currentResult}}</div>
  </li>
  <li class="nav-item">
    <div>Best: {{bestResult}}</div>
  </li>

  <li class="nav-item">
    <button type="button" class="btn btn-light" (click)="restartGame()">Restart</button>
  </li>
</ul>

<section class="game-section" *ngIf="IsItStarted">

  <section class="cardContainer">
    <app-card *ngFor="let card of cardList" [details]="card" (selectedCard)="onCardSelect($event)"></app-card>
  </section>
</section>



<div class="infoTextSmokey" *ngIf="!IsItStarted">
  <div *ngIf="!ThereIsEndedGame">
    <h2>Rules of the matching game:</h2>
    <h3>"Matching games are games that require players to match similar elements. <br>
      Participants need to find a match for
      a word, picture, or card. For example, students place 30 word cards; <br>
      composed of 15 pairs, face down in random
      order.
      <br>Each person turns over two cards at a time, with the goal of turning over a matching pair, by using their
      memory."
    </h3>
    <h4>Source: <i class="fa fa-wikipedia-w" aria-hidden="true"> Wikipedia</i></h4>
  </div>
  <button class="gameStartBtn btn-danger" *ngIf="!IsItStarted" (click)="startGame()">START A NEW GAME</button>

  <div *ngIf="ThereIsEndedGame">
    <div>You have won!</div>
    <div>Click the button, if you would like to play an another game.</div>
  </div>
</div>
