<table class="table table-borderless table-responsive col-12 position-absolute top-30 start-50 translate-middle mt-5">
	<tbody>
		<tr>
			<td class="col-4">
				<h6>Current tries:</h6>
				<h5>{{ score$ | async }}</h5>
			</td>
			<td class="col-4">
				<h6>Best:</h6>
				<h1>{{ getBestScoreForCurrentDeck() || 'N/A' }}</h1>
			</td>
			<td class="col-4">
				<button type="button" class="btn btn-danger" (click)="openModal(confirmModal)">Restart</button>
			</td>
		</tr>
	</tbody>
</table>
<br>
<br>
<br>
<section class="cardContainer" [class.disabled]="(isProcessing$ | async)">
	<div class="card-flipper"
         *ngFor="let card of (cardList$ | async); trackBy: trackByCardId"
         [class.flipped]="card.flipped"
         (click)="revealCard(card)">
		<div class="card card-front" [ngClass]="{'card-matched': card.matched}">
			<img src="{{card.icon}}" alt="icon of the card">
		</div>
		<div class="card card-back"></div>
	</div>
</section>

<ng-template #confirmModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Begin a new game?</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    If you click 'yes', your current progress will be lost.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="restartGame()">New game</button>
  </div>
</ng-template>