.cardContainer {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.mainTitle {
  font-size: 3rem;
  text-align: center;
}

.gameStartBtn {
  font-size: 1.5rem;
  top: 30%;
  font-weight: normal;
  position: absolute;
}

.infoTextSmokey {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, auto);
  }

  .infosOfGame {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  height: 11.5rem;
  width: 11.5rem;
  border-radius: 12px;
  border-width: 1px;
  border-radius: 12px;
  border-width: 1px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  margin: 0.2rem 0.2rem;
}

.card-front {
  display: flex;
  flex: 0 1 calc(20% - 8px);
  justify-content: center;
  align-items: center;
  border-style: solid;
  display: flex;
  flex: 0 1 calc(20% - 8px);
  justify-content: center;
  align-items: center;
  background-color: white;
}

.card-back {
  background-color: wheat;
}

.card-matched {
  opacity: 0.5;
}
