<div class="home-container">
  <div class="home-box">
    <img src="assets/images/rotomatch-logo.svg" alt="Rotomatch Logo" class="logo mb-4">
    <h1 class="main-title">The Ultimate Matching Game</h1>
    <p class="subtitle">Select your deck size and start the challenge!</p>

    <div class="d-grid gap-3">
      <select class="form-select-lg" aria-label="Please, select the size of the deck." #deckSize
        (change)="Select(deckSize.value)" name="deckSize" id="deck-select">
        <option selected disabled>Select deck size...</option>
        <option value="20">20</option>
        <option value="18">18</option>
        <option value="16">16</option>
        <option value="14">14</option>
        <option value="12">12</option>
        <option value="10">10</option>
        <option value="8">8</option>
        <option value="6">6</option>
        <option value="4">4</option>
        <option value="2">2</option>
      </select>

      <button class="btn btn-primary btn-lg" [routerLink]="'/game'">START NEW GAME</button>
    </div>
  </div>
</div>